

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
      font-family: "proxima-nova","Helvetica Neue",Helvetica-,Arial,sans-serif;
      letter-spacing: 0.5px;
    }
    .container-fluid{
  margin-bottom: -40px;
}
.email-link{
  margin-top: 17px;
}
.email-link a:link,.email-link a:visited{

  color:#2F96B4;

}

.email-link a:hover{

  color:#5BB75B;
  text-decoration: none;

}


    .mainimage {
      margin-bottom: 0px;
    }
.fixed-right{
  position: fixed;
  right:0 ;
}
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;

      margin-bottom: -90px; 
    }
    .navbar-wrapper .navbar {

    }
  
    .navbar .brand {
      padding: 14px 20px 16px; 
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
      color:#5BB75B;;
    }

    .brand  img{
      height: 30px;
      width: 30px;

    }
.a{
  text-decoration: none;
}
.navbar-fixed-top{
      border : 0px;
      border-radius: 0px;
}


    .navbar .nav > li > a {
      font-size: 17px;
      padding:  20px 20px 20px  20px;
    }
    .navbar .nav > li > a:hover {
      color:#5BB75B;
    }

    .navbar .btn-navbar {
      margin-top: 10px;


    }

    .mainimage .container {
      position: relative;
      z-index: 9;

    }
    .mainimage-caption {
      background-color: rgba(5,5,5,0.6);
      position: static;
      max-width: 550px;
      padding: 20px 20px 20px 20px;
      margin-top: 200px;

    }

    .mainimage-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      /*background-color: transparent;*/
      border: 0;
      z-index: 10;
    }

    .mainimage .item {
      height: 650px;
      width:100%;
    }
    .mainimage img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 650px;

    }

 
    .mainimage-caption h1,
    .mainimage-caption .lead {
      padding-bottom: 5px;
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      font-weight: lighter;
      
    }
    .mainimage-caption .btn {
      margin-top: 10px;
    }

.pulp-processing {
  margin-top: 280px;

}
.market {
  background-image:  url('img/grid.png'), url("img/bamboo-forest.jpg");
  background-repeat: repeat;
  margin-left: -20px;
  margin-right: -20px;
  min-height: 620px;  
}

.overlay {
z-index: 999;
  
  padding-top: 80px;
  padding-bottom: 110px;
  width: 100%;



}
.marketing{

  
  color: #ffffff
}
   
.marketing .span4 {
      margin-top: 30px;
      text-align: center;
    }
    .marketing h2,.marketing h1, .pulp-processing h1  {
      font-weight: normal;
    }

    .marketing h1  {
      margin-bottom: 50px;
    }


    .marketing .span4 p {
      text-shadow: 0 1px 2px rgba(0,0,0,0.4);
      margin-left: 10px;
      margin-right: 10px;
      font-size: 17px;
      line-height: 20px;
      
    }
footer{
  padding:20px;
  margin-bottom: -10px;
}


  

     